<footer class="page-wrap">
    <div id="footer-content">
    	<div>
    		<h3>营业时间</h3>
			
			<dl>
				<dt>周一 - 周四</dt>
				<dd>10:00am - 10:00pm</dd>
				<dt>周五</dt>
				<dd>10:00am - 07:30pm</dd>
				<dt>周六</dt>
				<dd>01:00pm - 05:00pm</dd>
				<dt>周日</dt>
				<dd>休息</dd>
			</dl>
    	</div>

		<div>
			<h3>联系我们</h3>
			
			<p>桐乡 浙江</p>

			<p class="footer-phone"><i class="icon-phone"></i> 1866 8190 907</p>
			<p class="footer-email"><i class="icon-email"></i><a href="mailto:tuxfeng@gmail.com"> tuxfeng@gmail.com </a></p>
		</div>
    </div>

    <div id="social-icons">
	   {{! <a class="icon-gplus" href="#">Google+</a>
	    <a class="icon-fb" href="#">Facebook</a>
	    <a class="icon-twitter" href="#">Twitter</a>
	    <a class="icon-pinterest" href="#">Pinterest</a>
	    <a class="icon-youtube" href="#">YouTube</a> }}
	    <a class="icon-rss" href="{{@blog.url}}/rss/">RSS</a>
	</div>

    <div id="copyrights">
         <section class="copyright">所有文章及内容版权所有 <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
         <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a></section>
    </div>
</footer>
